{% extends "base.html" %} {% block title%}Home Page{% endblock %} {% block
    content %}
    
    
    <html>
            {% for message in get_flashed_messages() %}
                <div class="alert alert-primary alert-dismissible fade show" role="alert">
                    <strong>{{ message }}</strong>
                </div>      
            {% endfor %}
     
            {% if name %}
            
            {% else %}
            <h1>Customer List</h1>
            </br>
            <form method="POST">
                {{ form.name.label(class="form-label") }}

                {{ form.name(class="form-control") }}

                {{ form.hidden_tag() }}

                {{ form.email.label(class="form-label") }}

                {{ form.email(class="form-control") }}

                <br/>
                {{ form.submit(class="btn btn-primary") }}
            </form>
            <br/><br/><br/>
            {% for our_user in our_users%}
                {{ our_user.id }} on {{ our_user.name
                }} - {{ our_user.email }}<br/>
            {% endfor %}
            
            {% endif %} 
    </html>     
{% endblock %}
     
   
    