{% extends "base.html" %} {% block title%}Home Page{% endblock %} {% block
    content %}
    
    
    <html>
            {% for message in get_flashed_messages() %}
                <div class="alert alert-primary alert-dismissible fade show" role="alert">
                    <strong>{{ message }}</strong>
                </div>      
            {% endfor %}
     
            {% if name %}
            <h1>Hello {{ name }}!!</h1>
            <br/>
            <img src="{{url_for('static', 
            filename='images/clean.png')}}" 
            width=900>
            <br/><br/>
            <p id="demo"> This is stuff.....</p>
            <script src="{{ url_for('static', filename='js/myfile.js')}}"></script>
            {% else %}
            <h1>Customer List</h1>
            </br>
            <form method="POST">
                {{ form.hidden_tag() }}
                {{ form.email.label(class="form-label") }}
                {{ form.email(class="form-control") }}
                <br/>
                {{ form.submit(class="btn btn-primary") }}
            </form>
            {% endif %} {% endblock %}
     
    </html>
    