{% extends "base.html" %} {% block title%}Home Page{% endblock %} {% block
    content %}
  
    <p>I am happy your here. &#128522;</p>
     <p >
      Mimis Cleaning service is versatile, we clean homes, offices, 
      pressure washing and we help with organizing hoarded homes too. 
      <ul>
       <li>Every home we charge first day $75 an hour for two cleaning ladies</li>
       <li>Regular cleans are priced by location, pets, severity of clean, package choice and square feet</li>
       <li>We do give 10% off for referrals and a one time discount for a second clean</li>
       <li>We have addons that will take longer from a regular clean such as outside windows, oven, cabinets, deep clean of dirt/mold in difficult areas, </li>
      </ul>
     </p>
{% endblock %}