{% extends "base.html" %} {% block title%}Home Page{% endblock %} {% block
content %}
<br />
<h3>Packages</h3>
<h5>
  <em>
    Disclaimer prices can be calculated more due to pets, children or severity
    if the home but there is always an option to bargain
  </em>
</h5>
<br />
<h4>Limpiecita Package</h4>
<li>
  Light this is a monthly clean which is basic needs such as rooms, bathrooms,
  kitchen and floors and yearly deep clean for $70 per hour by request after 4
  months
</li>
<br />

<h4>Limpieza Package</h4>
<li>
  Mid this is a bi-weekly clean which includes basic needs and a bi-monthly deep
  clean for $60 per hour and 1st free hour by request after 4 months
</li>

<br />
<h4>Limpieza de lujo Package</h4>
<li>
  Deluxe this is a weekly clean which includes basic needs and a monthly deep
  clean for $50 per hour and 1st free hour after 4 months
</li>

<h4>Upon Request Clean</h4>
<li>
  One time clean is $75 per hour for two cleaners, 37.50 per extra cleaner **NO
  SPECIALS ON DEEP CLEAN
</li>

{% endblock %}
