{% extends "base.html" %} {% block title%}Home Page{% endblock %} {% block
content %}
<h3>These are our packages</h3>

<li>
  Light this is a monthly clean which is basic needs such as rooms, bathrooms,
  kitchen and floors
</li>
<li>
  Mid this is a bi-weekly clean which includes basic needs and a bi-monthly deep
  clean for $60 per hour and 1st free hour by request after 4 months
</li>
<li>
  Deluxe this is a weekly clean which includes basic needs and a monthly deep
  clean for $60 per hour and 1st free hour by request after 4 months
</li>
<li>
  One time clean is $75 per hour for two cleaners, 37.50 per extra cleaner
</li>

{% endblock %}
