{% extends "base.html" %} {% block content %} {% for message in
    get_flashed_messages() %}
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
      {{ message }}
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
    {% endfor %}

    <h1>Reviews...</h1>
</br>
{% for review in reviews %}
<div>
    <h3>By: {{review.author }}</h3>
    <medium>Clean Type: {{review.cleantype }}<br/>
    {{ review.date_posted }}</medium>
    <br/>
    {{review.content }}
    <br/>
    <a href="{{url_for('review', 
    id=review.id) }}" class="btn
    btn-outline-secondary btn-sm">View Review</a>
    <a href="{{url_for('edit_review',id=review.id)}}" class="btn
    btn-outline-secondary btn-sm">Edit Review</a>
    <br/><br/>
    
</div>
</br>
{% endfor %}






{% endblock %}